/* Global styles */
* {
    box-sizing: border-box;

}

body {
    margin: 0;
    overflow: hidden;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}





/* End Global styles */

/* social_pins */

#social_pins{
    position: fixed;
    top: 50vh;
    

}
#social_pins div {
    background-color: blue;
    margin-bottom: 10px;
    padding: 0.5em;
    border-top-right-radius: 50px ;
    border-bottom-right-radius: 50px;
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -70%;
    transition: all 1s ease;
}
#social_pins div:first-child, #social_pins div:first-child span{
    background-color: rgb(244, 92, 92);
    color: white;
}

#social_pins div:nth-child(2), #social_pins div:nth-child(2) span{
    background-color: rgb(44, 60, 136);
    color: white;
}

#social_pins div:nth-child(3), #social_pins div:nth-child(3) span{
    background-color: rgb(25, 129, 106);
    color: white;
}

#social_pins div:nth-child(4), #social_pins div:nth-child(4) span{
    background-color: rgb(192, 187, 28);
    color: white;
}




#social_pins div:hover {
    left: 0;
}

#social_pins div a {
    color: black;
    text-decoration: none;
}
#social_pins div a i {
    padding: 0.6em;
    background-color: white;
    border-radius: 50px;
    font-size: 1.2em;
    justify-content: end;
}
/* End social_pins */

/* Nav */

header#header {
    background-image: url(../images/hero-three.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left right;
    background-size: cover;
    background-attachment: scroll;
    background-blend-mode:darken;
   position: relative;
   background-color: rgba(59, 47, 47, 0.202);

}
/* header#header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.178);
} */
header#header nav {
    display: flex;
    justify-content: space-between;
    
    border-bottom: 4px solid white;
    flex-flow: nowrap row;

}
.nav-left {
    padding: 1.4em 1em 0 1em; 
}

.nav-left h2 {
    margin-bottom: 0;
}
.nav-left>span {

    font-size: 0.5em;
    letter-spacing: 1px;
}

header#header nav .nav-right {
    width: 70%;
    padding: 1.2em 0 0 0;
}
.nav-icon {
    color: white;
}

.nav-right ul li:nth-child(2), .nav-right ul li:nth-child(3), .nav-right ul li:nth-child(4), .nav-right ul li:nth-child(6){
    position: relative;
    
}

.submenu-1, .submenu-2, .submenu-3, .submenu-4{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -35px;
    transition: all 0.8s ease-in-out;
    box-shadow: 1px 1px 10px 5px black;
    
} 

.nav-right>ul li:last-child{
    border-bottom: none;
}


.nav-right ul li:nth-child(2):hover .submenu-1{
    opacity: 1;
    visibility: visible;

    transform: scale(1.07);
    
}
.nav-right ul li:nth-child(3):hover .submenu-2{
    opacity: 1;
    visibility: visible;
    transform: scale(1.07);
}

.nav-right ul li:nth-child(4):hover .submenu-3{
    opacity: 1;
    visibility: visible;
    transform: scale(1.07);
}

.nav-right ul li:nth-child(6):hover .submenu-4{
    opacity: 1;
    visibility: visible;
    transform: scale(1.07);
}





/* , .nav-right ul li:nth-child(3), .nav-right ul li:nth-child(4), .nav-right ul li:nth-child(6):hover  */



.submenu li {
    border-bottom: 1px solid rgb(13, 14, 13);
    background-color: gold;
    border-radius: 2px;
    padding: 8px;
    
}



header#header nav .nav-right> ul{
    display: flex;
    flex-flow: nowrap row;
}
header#header nav .nav-right >ul li a {
    text-decoration: none;
    color: white;
}

header#header nav .nav-right >ul li a{
    padding:0.5em;
    list-style: none;
}

li.nav-icon i{
    font-size: 1em;
}

li.nav-icon i:first-child{
    position: relative;
}

li.nav-icon i >span{
    position: absolute;
    font-size: 10px;
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    top: -10px;
}

/* End of Navbar */

/* Main Header */
.main-content {
    text-align: center;
    align-items: center;

}
.main-content h2:first-child {
    color: gold;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 0;
}
.main-content>h2:nth-child(2){
    margin: 0;
    font-size: 2.8em;
    color: white;
}
.main-content p {
    line-height: 0.5em;
    padding-bottom: 1em;
    color: rgb(232, 226, 226);
}
.main-content button{
    padding:2em;
    font-weight: 600;
    border-radius: 4px;
    background-color: gold;
}

.main-content a button{
    cursor: pointer;
}

.main-content a:last-child button{
    color: white;
    background-color: transparent;
    border: 1px solid grey;
}
.container-section-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2em;
    background-color:blueviolet;
    width: 100%;
}

.container-section-1 .section-1-left {
    border: 2px solid red;
    

}
.section-1-right {
    border: 2px solid green;
    width: 50%;
}
.section-1-right p {
    width: 60%;
    display: inline-block;
    color: rgb(227, 222, 222);
}
.section-1-right button {
    padding: 0.8em;
    background-color: gold;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.8s ease;
}
.section-1-right button:hover {
    background-color: white;
    color: black;
}



/* End of Main Header */


/* pin-it-social */

/* #Social-pin {
    position: fixed;
    left: 0;
    top: 50vw;
    background-color: brown;


} */

