/* Global styles */
* {
    box-sizing: border-box;

}

body {
    margin: 0;
   
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}





/* End Global styles */

/* social_pins */

#social_pins{
    position: fixed;
    top: 50vh;
    

}
#social_pins div {
    background-color: blue;
    margin-bottom: 10px;
    padding: 0.5em;
    border-top-right-radius: 50px ;
    border-bottom-right-radius: 50px;
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -70%;
    transition: all 1s ease;
}
#social_pins div:first-child, #social_pins div:first-child span{
    background-color: rgb(244, 92, 92);
    color: white;
}

#social_pins div:nth-child(2), #social_pins div:nth-child(2) span{
    background-color: rgb(44, 60, 136);
    color: white;
}

#social_pins div:nth-child(3), #social_pins div:nth-child(3) span{
    background-color: rgb(25, 129, 106);
    color: white;
}

#social_pins div:nth-child(4), #social_pins div:nth-child(4) span{
    background-color: rgb(192, 187, 28);
    color: white;
}




#social_pins div:hover {
    left: 0;
}

#social_pins div a {
    color: black;
    text-decoration: none;
}
#social_pins div a i {
    padding: 0.6em;
    background-color: white;
    border-radius: 50px;
    font-size: 1.2em;
    justify-content: end;
}
/* End social_pins */

/* Nav */

header#header {
    background-image: url(../images/hero-three.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: left right;
    background-size: cover;
    background-attachment: scroll;
    background-blend-mode:darken;
    position: relative;
    background-color: rgba(59, 47, 47, 0.202);

}
/* header#header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.178);
} */
header#header nav {
    display: flex;
    justify-content: space-between;
    
    border-bottom: 4px solid white;
    flex-flow: wrap row;

}
.nav-left {
    padding: 1.4em 1em 0 1em; 
}

.nav-left h2 {
    margin-bottom: 0;
}
.nav-left>span {

    font-size: 0.5em;
    letter-spacing: 1px;
}

header#header nav .nav-right {
    width: 70%;
    padding: 1.2em 0 0 0;
}
.nav-icon {
    color: white;
}

.nav-right ul li:nth-child(2), .nav-right ul li:nth-child(3), .nav-right ul li:nth-child(4), .nav-right ul li:nth-child(6){
    position: relative;
    
}

.submenu-1, .submenu-2, .submenu-3, .submenu-4{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: -35px;
    transition: all 0.8s ease-in-out;
    
} 

.nav-right>ul li:last-child{
    border-bottom: none;
}


.nav-right ul li:nth-child(2):hover .submenu-1{
    opacity: 1;
    visibility: visible;
    transform: scale(1.07);
    
}
.nav-right ul li:nth-child(3):hover .submenu-2{
    opacity: 1;
    visibility: visible;
    transform: scale(1.07);
}

.nav-right ul li:nth-child(4):hover .submenu-3{
    opacity: 1;
    visibility: visible;
    transform: scale(1.07);
}

.nav-right ul li:nth-child(6):hover .submenu-4{
    opacity: 1;
    visibility: visible;
    transform: scale(1.07);
}





/* , .nav-right ul li:nth-child(3), .nav-right ul li:nth-child(4), .nav-right ul li:nth-child(6):hover  */



.submenu li {
    border-bottom: 1px solid rgb(13, 14, 13);
    background-color: gold;
    border-radius: 2px;
    padding: 8px;
    
}



header#header nav .nav-right> ul{
    display: flex;
    flex-flow: nowrap row;
}
header#header nav .nav-right >ul li a {
    text-decoration: none;
    color: white;
}

header#header nav .nav-right >ul li a{
    padding:0.5em;
    list-style: none;
}

li.nav-icon i{
    font-size: 1em;
}

li.nav-icon i:first-child{
    position: relative;
    margin-right: 1.2em;
}

li.nav-icon i >span{
    position: absolute;
    font-size: 10px;
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    top: -10px;
    left: 12px;
}

/* End of Navbar */

/* Main Header */
.main-content {
    text-align: center;
    margin-top: 20vh;

}
.main-content h2:first-child {
    color: gold;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 0;
}
.main-content>h2:nth-child(2){
    margin: 0;
    font-size: 2.8em;
    color: white;
}
.main-content p {
    line-height: 0.5em;
    padding-bottom: 1em;
    color: rgb(232, 226, 226);
}
.main-content button{
    padding:2em;
    font-weight: 600;
    border-radius: 4px;
    background-color: gold;
    transition: all 0.8s ease;
}

.main-content a button{
    cursor: pointer;
}


.main-content a:last-child button{
    color: white;
    background-color: transparent;
    border: 1px solid grey;
}

/* .main-content button:first-child:hover{
    background-color: transparent;
    color: white;
}

.main-content button:last-child:hover{
    background-color: gold;
    color: black;
} */

.container-sec1 {
    background-image: url(../images/industry-background.png);
    background-color: rgb(9, 9, 53);
    background-blend-mode: normal;
    background-position-x: center;
}

.container-section-1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2em;
    
    width: 100%;
}

.section-1-left {
    margin-left: 3%;
}

.section-1-right {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 40%;
    border-top: 5px solid rgb(210, 203, 203);
}
.section-1-right p {
    width: 60%;
    margin-top: 4%;
    display: inline-block;
    color: rgb(227, 222, 222);
}
.section-1-right button {
    height: 30%;
    background-color: gold;
    border: 1px solid black;
    border-radius: 3px;
    transition: all 0.8s ease;
    font-weight: 800;
    margin-top: 3%;
    padding: 3%;
}
.section-1-right button:hover {
    background-color: rgb(226, 192, 3);
   
}

.section-1-left h2:first-child{
    color: gold;
    font-size: 2.5em;
    margin-bottom: 0;
}
.section-1-left h2:last-child{
    color: white;
    font-size: 3.0em;
    margin-top: 0;
}

/* cards */
.cards {

    display: flex;
    flex-flow: row wrap;
    
    
    width: 90%;
    margin: auto;;
}

.cards .card {
    background-color: beige;
    border: 3px solid rgb(53, 46, 46);
    width: 23.5%;
    margin-right: 2%;
    border-radius: 3px;
    padding: 2%;
    position: relative;
    padding-bottom: 0;
    transition: all 3s linear;
}

.cards .card h3 {
    width: 20%;
    color: rgb(13, 13, 79);
}
.cards .card h4 {
    border-top: 1px solid grey;
    padding-top: 10%;
    color: rgb(13, 13, 79);
    
}

.cards .card p {
    color: rgb(69, 65, 65);
}

.icon-up{
    position: absolute;
    top: 14%;
    right: 5%;
    font-size: 1.5em;

   
}
.icon-up {
    background: red;
    color: white;
    padding: 3%;
    border-radius: 25%;
}
.icon-bottom {
    position: absolute;
    bottom: 4%;
    right: 5%;
    font-size: 1em;
    color: grey;

}

.cards .card:last-child {
    margin-right: 0;
}

/* .card::after {
    content: "";
    
    position: absolute;
    inset: 0;
    background-image: url(../images/construction-bg.jpg);
    background-size: cover;
    background-position: center;
    visibility: hidden;
    opacity: 0;
    
} */
.card:hover {
    
    transition: all 3s linear;
    background-image: url(../images/construction-bg.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.card:hover h3 {
    
    color: white;
    transition: all 0.2s ease;
}
.card:hover p {
    color: rgb(227, 227, 227);
    text-shadow: 0px 0px 3px rgba(241,241,241,0.52);
}

/* .card:hover h4 {
    color: goldenrod;

} */

/* end of cards */
/* End of Main Header */


/* pin-it-social */

/* #Social-pin {
    position: fixed;
    left: 0;
    top: 50vw;
    background-color: brown;


} */

/* marquee */
marquee {
    margin-block: 4%;
}
marquee span:nth-child(1), marquee span:nth-child(5), marquee span:nth-child(9), marquee span:nth-child(13) {
    font-size: 25px;
    color: white;
    font-weight: 800;
}

marquee span:nth-child(3), marquee span:nth-child(7), marquee span:nth-child(11), marquee span:nth-child(15) {
    font-size: 25px;
    color: rgb(247, 119, 0);
    font-weight: 800;
}

marquee span:nth-child(2), marquee span:nth-child(4), marquee span:nth-child(6), marquee span:nth-child(10), marquee span:nth-child(12), marquee span:nth-child(14) {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}
/* end marquee */